---
version: '3.4'

networks:
  expressed-realms-network:
    driver: bridge

services:
  myapp:
    container_name: societyinshadows.org
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - '80:3000'
      - '443:443'
    environment:
      - VITE_HTTPS_KEY=/https/key.pem
      - VITE_HTTPS_CERT=/https/cert.pem
      - VITE_PORT=443
      - VITE_API_BASE_URL=https://api.societyinshadows.org/
    #volumes:
      #- ./client/:/app # This is only here to allow automatic updates on local machines as you are editing the code
      #- ${USERPROFILE}/.aspnet/https:/https # Host Certificate Location (key.pem/cert.pem) : Image Path
    networks:
      - expressed-realms-network
    depends_on:
      webapi:
        condition: service_started

  webapi:
    container_name: api.societyinshadows.org
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_HTTPS_PORTS=443
      - ASPNETCORE_HTTP_PORTS=80
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__KeyPath=/https/key.pem
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/cert.pem
      - ConnectionStrings__DefaultConnection=Host=expressed-realms-db;Port=5432;Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
      - FRONT_END_BASE_URL=https://localhost
      - POSTMARK_API_KEY=${POSTMARK_API_KEY}
      - NO_REPLY_EMAIL=${NO_REPLY_EMAIL}
      - TEST_EMAIL_ADDRESS=${TEST_EMAIL_ADDRESS}
    ports:
      - '5000:80'
      - '5001:443'
    volumes:
      - ${USERPROFILE}/.aspnet/https:/https:ro
    networks:
      - expressed-realms-network
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    container_name: expressed-realms-db
    image: postgres:14-alpine
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    networks:
      - expressed-realms-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d expressedRealms"]
      interval: 2s
      timeout: 5s
      retries: 3

  pgadmin:
    image: dpage/pgadmin4:8.4
    container_name: expressed-realms-db-admin
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
      # https://github.com/docker/compose/issues/8578#issuecomment-945228061
      GUNICORN_ACCESS_LOGFILE: '/dev/null'
    volumes:
      - pgAdmin_data:/var/lib/pgadmin
    networks:
      - expressed-realms-network
    depends_on:
      postgres:
        condition: service_started

volumes:
  ignore:
  db_data:
  pgAdmin_data:
